[defaults]

inventory         = $HOME/.ansible/hosts
remote_tmp        = $HOME/.ansible/tmp
sudo_user         = root
strategy          = free
forks             = 150
transport         = smart
gathering         = smart
roles_path        = $HOME/.ansible/roles
host_key_checking = False
#log_path          = $HOME/.ansible/log/ansible.log
log_path          = ./ansible.log
module_name       = shell

#bin_ansible_callbacks=False
fact_caching            = jsonfile
fact_caching_connection = $HOME/.ansible/facts
fact_caching_timeout    = 7200
retry_files_save_path   = $HOME/.ansible/retry

internal_poll_interval  = 0.001
stdout_callback         = debug

[ssh_connection]

ssh_args     = -o ControlMaster=auto -o ControlPersist=18000 -o PreferredAuthentications=publickey
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining   = True
scp_if_ssh   = True

[accelerate]

accelerate_port            = 5099
accelerate_timeout         = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout  = 30
